@page "/Index"

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Marriage</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/global.css" rel="stylesheet">
	<link href="css/index.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
	<link href="css/element.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
	<script src="js/jquery-2.1.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>







</head>

<body>
	<section id="header">
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				
				<div class="navbar-header page-scroll">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand heading_tag" href="/Index">Marriage</a>
				</div>

				
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a class="tag_menu active_tab" href="/Index">HOME</a>
						</li>

						<li>
							<a class="tag_menu" href="/about">ABOUT</a>
						</li>

						<li>
							<a class="tag_menu" href="/blog">BLOG</a>
						</li>

						

						<li>
							<a class="tag_menu" href="/gallery">GALLERY</a>
						</li>

						<li>
							<a class="tag_menu" href="/service">SERVICES</a>
						</li>

						<li>
							<a class="tag_menu" href="/team">TEAM</a>
						</li>

						<li>
							<a class="tag_menu" href="/contact">CONTACT</a>
						</li>

						<li class="dropdown">
							<a class="tag_menu" href="#" data-toggle="dropdown" role="button" aria-expanded="false">MORE<span class="caret"></span></a>
							<ul class="dropdown-menu drop_1" role="menu">
								<li><a href="#">Home</a></li>
								<li><a href="#">Blogpost</a></li>
								<li><a href="/detail">Detail</a></li>
							</ul>
						</li>

					</ul>

				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>
	</section>

	<section id="header_mini">
		<div class="container">
			<div class="row">
				<div class="header_mini clearfix">
					<h1><a class="heading_tag" href="/Index">Marriage</a></h1>
				</div>
				<a id="menu-toggle" href="#" class="btn btn-warning btn-lg toggle"><i class="fa fa-toggle-on"></i></a>

				<div id="sidebar-wrapper" class="">
					<ul class="sidebar-nav">
						<a id="menu-close" href="#" class="btn btn-default btn-lg pull-right toggle"><i class="fa fa-remove"></i></a>
						<li class="sidebar-brand">
							<a class="heading_tag" href="/Index">Marriage</a>
						</li>
						<li>
							<a class="tag_menu active_tab" href="/Index">HOME</a>
						</li>

						<li>
							<a class="tag_menu" href="/about">ABOUT</a>
						</li>

						<li>
							<a class="tag_menu" href="/blog">BLOG</a>
						</li>

						

						<li>
							<a class="tag_menu" href="/gallery">GALLERY</a>
						</li>

						<li>
							<a class="tag_menu" href="/service">SERVICES</a>
						</li>

						<li>
							<a class="tag_menu" href="/team">TEAM</a>
						</li>

						<li>
							<a class="tag_menu" href="/contact">CONTACT</a>
						</li>

						<li class="dropdown">
							<a class="tag_menu" href="#" data-toggle="dropdown" role="button" aria-expanded="false">MORE<span class="caret"></span></a>
							<ul class="dropdown-menu drop_1" role="menu">
								<li><a href="#">Home</a></li>
								<li><a href="#">Blogpost</a></li>
								<li><a href="/detail">Detail</a></li>
							</ul>
						</li>
					</ul>
				</div>

			</div>
		</div>
	</section>

	<section id="center" class="clearfix">
		<div class="center_main clearfix">
			<div class="container">
				<div class="row">
					<div class="center clearfix">
						<div class="col-sm-7 center_left clearfix">
							<div class="center_left_inner clearfix">
								<h1>God bless you</h1>
								<h3>WE ARE HARE FOR YOUR SERVICE</h3>
								<h5>MAHANDI  /  BARAT  /  WALIMA  /  BIRTHDAY</h5>
								<h4><a href="#">BEST ORGANIZER </a></h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="center_2" class="clearfix">
		<div class="container">
			<div class="row">
				<div class="center_2 clearfix">
					<div class="center_2_top clearfix">
						<h2>Your Special Day Deserves the Perfect Venuer</h2>
						<hr class="hr_1">
						<p>Welcome to Our Site, where dreams come true and love is celebrated. Our commitment is to make your wedding day unforgettable, with impeccable service and a stunning setting.</p>
					</div>
					<div class="center_2_middle clearfix">
						<div class="col-sm-4 center_2_middle_left clearfix">
							<div class="center_2_middle_left_inner clearfix">
								<p><i class="fa fa-tree"></i></p>
								<h2><a href="#">Celebrate Your Unforgettable Day</a></h2>
								<h4><i class="fa fa-chevron-right"></i>  Your journey together begins here. Amidst the lush beauty of nature, let your love story  libero</h4>
								<h4><i class="fa fa-chevron-right"></i> unfold at [Marriage Hall Name], where dreams take flight and moments become </h4>
								<h4><i class="fa fa-chevron-right"></i>  memories that last a lifetime.</h4>
							</div>
						</div>
						<div class="col-sm-4 center_2_middle_left clearfix">
							<div class="center_2_middle_left_inner clearfix">
								<p><i class="fa fa-dedent"></i></p>
								<h2><a href="#">Exquisite Services Tailored to Yout</a></h2>
								<h4><i class="fa fa-chevron-right"></i> Our dedicated team is committed to ensuring every detail of your event is perfect. </h4>
								<h4><i class="fa fa-chevron-right"></i>  From decor to cuisine, our bespoke services cater to your desires, leaving you free to </h4>
								<h4><i class="fa fa-chevron-right"></i>  savor every moment of your celebration</h4>
							</div>
						</div>
						<div class="col-sm-4 center_2_middle_left clearfix">
							<div class="center_2_middle_left_inner clearfix">
								<p><i class="fa fa-bell"></i></p>
								<h2><a href="#">Cherish Your Day, Create Timeless Memories</a></h2>
								<h4><i class="fa fa-chevron-right"></i>Sweeping landscapes, stunning interiors, and impeccable service await you. </h4>
								<h4><i class="fa fa-chevron-right"></i> Entrust us with your celebration and allow us to craft an </h4>
								<h4><i class="fa fa-chevron-right"></i> unforgettable experience that reflects your love story.</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="center_3" class="clearfix">
		<div class="container">
			<div class="row">
				<div class="center_3 clearfix">
					<div class="center_3_top clearfix">
						<h2>Celebrate Your Unforgettable Day</h2>
						<hr class="hr_1">
						<p>Your journey together begins here. Amidst the lush beauty of nature, let your love story unfold ,<br> where dreams take flight and moments become memories that last a lifetime.,<br> taciti sociosqu ad litora .</p>
						<h5><a href="#">LEARN MORE</a></h5>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="center_4" class="clearfix">
		<div class="container">
			<div class="row">
				<div class="center_4 clearfix">
					<div class="center_4_top clearfix">
						<h2>Elegant Spaces </h2>
						<hr class="hr_1">
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="center_5" class="clearfix">
		<div class="center_5 clearfix">
			<div class="col-sm-7 center_5_left clearfix">
				<div class="center_5_left_inner clearfix">
					<h2>Elegant Spaces  <br>Beutifull Decor <br>Less Price</h2>
					<hr class="hr_1">
					<h4>Elegant Spaces for Your Momentous Occasion</h4>
					<p>We understand the significance of your special day. Our versatile and elegant spaces are meticulously designed to host weddings of all scales and themes. From intimate gatherings to grand celebrations, we have the perfect setting to accommodate your vision.</p>
					<h5><a href="#">Learn More</a></h5>
				</div>
			</div>
			<div class="col-sm-5 center_5_right clearfix">
				<div class="center_5_right_inner clearfix">
					<p><img src="img/4.jpg" width="100%"></p>
				</div>
			</div>
		</div>
	</section>

	
	<section id="center_7" class="clearfix">
		<div class="container">
			<div class="row">
				<div class="center_7 clearfix">
					<div class="center_7_top clearfix">
						<h2>Explore Pricing Options</h2>
						<hr class="hr_1">
					</div>
					<div class="center_7_middle clearfix">
						<div class="col-sm-4 center_6_middle_left clearfix">
							<div class="center_7_middle_left_inner clearfix">
								<h2>Basic Package.</h2>
								<hr class="hr_1">
								<p>Starting from $289.00</p>
								<hr class="hr_1">
								<h3> $289.00</h3>
								<h5><a href="#">CONTACT US</a></h5>
							</div>
						</div>
						<div class="col-sm-4 center_6_middle_left clearfix">
							<div class="center_7_middle_left_inner center_7_middle_left_inner_2 clearfix">
								<h2>Premium Package</h2>
								<hr class="hr_1">
								<p>Starting from</p>
								<hr class="hr_1">
								<h3> $450.00</h3>
								<h5><a href="#">CONTACT US</a></h5>
							</div>
						</div>
						<div class="col-sm-4 center_6_middle_left clearfix">
							<div class="center_7_middle_left_inner clearfix">
								<h2>Exclusive Package</h2>
								<hr class="hr_1">
								<p>Starting from</p>
								<hr class="hr_1">
								<h3> $759.00</h3>
								<h5><a href="#">CONTACT US</a></h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	

	<section id="footer" class="clearfix">
		<div class="container">
			<div class="row">
				<div class="footer clearfix">
					<div class="footer_top clearfix">
						<h2><a href="index">Marriage</a></h2>

						<div class="col-sm-4 footer_middle_left clearfix">
							<div class="footer_middle_left_inner clearfix">
								<h2>Telephone</h2>
								<p><a href="#" Daska Road </a></p>
								<p><a href="#">University Of Sialkot</a></p>
								<hr class="hr_1">
							</div>
						</div>
						<div class="col-sm-4 footer_middle_left clearfix">
							<div class="footer_middle_left_inner clearfix">
								<h2>E-mail</h2>
								<p><a href="#">Uskt.edu.pk</a></p>

								<hr class="hr_1">
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</section>


</body>

</html>

