@page "/service"
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Marriage</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/global.css" rel="stylesheet">
	<link href="css/index.css" rel="stylesheet">
	<link href="css/about.css" rel="stylesheet">
	<link href="css/team.css" rel="stylesheet">
	<link href="css/testimonial.css" rel="stylesheet">
	<link href="css/service.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
	<link href="css/element.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
	






</head>

<body>
	<section id="header">
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header page-scroll">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand heading_tag" href="/Index">Marriage</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a class="tag_menu" href="/Index">HOME</a>
						</li>

						<li>
							<a class="tag_menu" href="/about">ABOUT</a>
						</li>

						<li>
							<a class="tag_menu" href="/blog">BLOG</a>
						</li>

						

						<li>
							<a class="tag_menu" href="/gallery">GALLERY</a>
						</li>

						<li>
							<a class="tag_menu active_tab" href="/service">SERVICES</a>
						</li>

						<li>
							<a class="tag_menu" href="/team">TEAM</a>
						</li>

						<li>
							<a class="tag_menu" href="/contact">CONTACT</a>
						</li>

						<li class="dropdown">
							<a class="tag_menu" href="#" data-toggle="dropdown" role="button" aria-expanded="false">MORE<span class="caret"></span></a>
							<ul class="dropdown-menu drop_1" role="menu">
								<li><a href="#">Home</a></li>
								<li><a href="#">Blogpost</a></li>
								<li><a href="/detail">Detail</a></li>
							</ul>
						</li>

					</ul>

				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>
	</section>

	<section id="header_mini">
		<div class="container">
			<div class="row">
				<div class="header_mini clearfix">
					<h1><a class="heading_tag" href="/Index">Marriage</a></h1>
				</div>
				<a id="menu-toggle" href="#" class="btn btn-warning btn-lg toggle"><i class="fa fa-toggle-on"></i></a>

				<div id="sidebar-wrapper" class="">
					<ul class="sidebar-nav">
						< id="menu-close" href="#" class="btn btn-default btn-lg pull-right toggle">< class="fa fa-remove"></></>
						<li class="sidebar-brand">
							<a class="heading_tag" href="/Index">Marriage</a>
						</li>
						<li>
							<a class="tag_menu" href="/Index">HOME</a>
						</li>

						<li>
							<a class="tag_menu" href="/about">ABOUT</a>
						</li>

						<li>
							<a class="tag_menu" href="/blog">BLOG</a>
						</li>

						

						<li>
							<a class="tag_menu" href="/gallery">GALLERY</a>
						</li>

						<li>
							<a class="tag_menu active_tab" href="/service">SERVICES</a>
						</li>

						<li>
							<a class="tag_menu" href="/team">TEAM</a>
						</li>

						<li>
							<a class="tag_menu" href="/contact">CONTACT</a>
						</li>

						<li class="dropdown">
							<a class="tag_menu" href="#" data-toggle="dropdown" role="button" aria-expanded="false">MORE<span class="caret"></span></a>
							<ul class="dropdown-menu drop_1" role="menu">
								<li><a href="#">Home</a></li>
								<li><a href="#">Blogpost</a></li>
								<li><a href="/detail">Detail</a></li>
							</ul>
						</li>
					</ul>
				</div>

			</div>
		</div>
	</section>

	

	<section id="about" class="about_testy clearfix">
		<div class="about_main clearfix">
			<div class="container">
				<div class="row">
					<div class="about clearfix">
						<div class="col-sm-7 about_left clearfix">
							<div class="about_left_inner clearfix">
								<h1>Marriage Hall Booking Services</h1>
								<h5>Exceptional Venues / Seamless Planning / Memorable Celebrations</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="service" class="clearfix">
		<div class="container">
			<div class="row">
				<div class="service clearfix">
					<div class="service_top clearfix">
						<h1>Plan Your Special Day with Our Exclusive Marriage Hall Booking Services</h1>
					</div>
					<div class="service_middle clearfix">
						<!-- Service Item 1: Spacious Venues -->
						<div class="col-sm-6 service_middle_left clearfix">
							<div class="service_middle_left_inner clearfix">
								<div class="ih-item square effect13 right_to_left">
									<a href="#">
										<div class="img"><img src="img/4.jpg" alt="img"></div>
										<div class="info"></div>
									</a>
								</div>
							</div>
							<div class="service_middle_left_inner_2 clearfix">
								<h1><a href="#">Spacious Venues</a></h1>
								<hr class="hr_1">
								<p>Choose from our collection of spacious and elegant venues to host your dream wedding.</p>
								<h5><a href="#">LEARN MORE</a></h5>
							</div>
						</div>
						<!-- Service Item 2: Seamless Planning -->
						<div class="col-sm-6 service_middle_left clearfix">
							<div class="service_middle_left_inner clearfix">
								<div class="ih-item square effect13 right_to_left">
									<a href="#">
										<div class="img"><img src="img/g2.jpg" alt="img"></div>
										<div class="info"></div>
									</a>
								</div>
							</div>
							<div class="service_middle_left_inner_2 clearfix">
								<h1><a href="#">Seamless Planning</a></h1>
								<hr class="hr_1">
								<p>Our expert planners ensure a seamless and stress-free experience in planning your wedding events.</p>
								<h5><a href="#">LEARN MORE</a></h5>
							</div>
						</div>
						<!-- Service Item 3: Custom Decor Packages -->
						<div class="col-sm-6 service_middle_left clearfix">
							<div class="service_middle_left_inner clearfix">
								<div class="ih-item square effect13 right_to_left">
									<a href="#">
										<div class="img"><img src="img/2 .jpg" alt="img"></div>
										<div class="info"></div>
									</a>
								</div>
							</div>
							<div class="service_middle_left_inner_2 clearfix">
								<h1><a href="#">Custom Decor Packages</a></h1>
								<hr class="hr_1">
								<p>Create a unique atmosphere with our custom decor packages tailored to your preferences.</p>
								<h5><a href="#">LEARN MORE</a></h5>
							</div>
						</div>
						<!-- Service Item 4: Culinary Delights -->
						<div class="col-sm-6 service_middle_left clearfix">
							<div class="service_middle_left_inner clearfix">
								<div class="ih-item square effect13 right_to_left">
									<a href="#">
										<div class="img"><img src="img/7.jpg" alt="img"></div>
										<div class="info"></div>
									</a>
								</div>
							</div>
							<div class="service_middle_left_inner_2 clearfix">
								<h1><a href="#">Culinary Delights</a></h1>
								<hr class="hr_1">
								<p>Indulge your guests with exquisite culinary creations that will leave a lasting impression.</p>
								<h5><a href="#">LEARN MORE</a></h5>
							</div>
						</div>
						<!-- Add more service items as needed -->
					</div>
				</div>
			</div>
		</div>
	</section>



	<section id="footer" class="clearfix">
		<div class="container">
			<div class="row">
				<div class="footer clearfix">
					<div class="footer_top clearfix">
						<h2><a href="index.html">Marriage</a></h2>
					</div>
					<div class="footer_middle clearfix">
						<div class="col-sm-4 footer_middle_left clearfix">
							<div class="footer_middle_left_inner clearfix">
								<h2> Tellus</h2>
								<p>Daska Road,</p>
								<p>Sialkot</p>
								<hr class="hr_1">
							</div>
						</div>
						<div class="col-sm-4 footer_middle_left clearfix">
							<div class="footer_middle_left_inner clearfix">
								<h2>Telephone</h2>
								<p><a href="#">University ,</a></p>
								<p><a href="#">Of Sialkot,</a></p>
								<hr class="hr_1">
							</div>
						</div>
						<div class="col-sm-4 footer_middle_left clearfix">
							<div class="footer_middle_left_inner clearfix">
								<h2>E-mail</h2>
								<p><a href="#">Uskt@gmail.com</a></p>

								<hr class="hr_1">
							</div>
						</div>
					</div>
					<div class="footer_bottom clearfix">
						<ul class="social-network social-circle">
							<li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
							<li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
						</ul>

					</div>
				</div>
			</div>
		</div>
	</section>
	</body>
	</html>